.card {
    background-color: gray;
    padding: 40px;
    border: 2px solid black;
    border-radius: 25px;
    margin: 20px;
} 

.profile-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;

}